# Market Simulation

## Legend :

In [1]:
import pandas as pd

In [10]:
marketdata = pd.read_csv("ZNH9.csv",engine='python',header = None)

In [11]:
marketdata.head(30)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,T,14:04:50.881623917,23331186,5875803,'00000100',52,98159,TRD,5.0,0,120.093750000,1.0,0.0
1,V,14:04:50.881623917,23331186,5875803,'00000100',52,98159,ELC_VOL,2375454.0,None,None,NaN,NaN
2,SS,16:45:00.000000000,23332129,'00000000',21,0,4,20181206,98159.0,ZN,NaN,NaN,NaN
3,SS,16:59:30.000000000,23350111,'00000000',21,0,1,20181206,98159.0,ZN,NaN,NaN,NaN
4,V,17:00:00.000000000,23350434,5878128,'01000000',37,98159,ELC_VOL,630.0,None,None,NaN,NaN
5,SS,17:00:00.000000000,23350463,'00000000',15,0,0,20181206,98159.0,ZN,NaN,NaN,NaN
6,T,17:00:00.000000000,23350464,5878129,'00000000',48,98159,TRD,0.0,0,120.046875000,1951.0,265.0
7,m,17:00:00.000000000,98159,1,0,845629668478,35,None,NaN,None,None,NaN,NaN
8,m,17:00:00.000000000,98159,2,0,845629667640,500,None,NaN,None,None,NaN,NaN
9,m,17:00:00.000000000,98159,3,0,845629664128,32,None,NaN,None,None,NaN,NaN
10,m,17:00:00.000000000,98159,4,0,845629664129,101,None,NaN,None,None,NaN,NaN
11,m,17:00:00.000000000,98159,5,0,845629666948,79,None,NaN,None,None,NaN,NaN
12,m,17:00:00.000000000,98159,6,0,845629667026,3,None,NaN,None,None,NaN,NaN
13,m,17:00:00.000000000,98159,7,0,845629668471,3,None,NaN,None,None,NaN,NaN
14,m,17:00:00.000000000,98159,8,0,845629668453,20,None,NaN,None,None,NaN,NaN
15,m,17:00:00.000000000,98159,9,0,845629668454,20,None,NaN,None,None,NaN,NaN
16,m,17:00:00.000000000,98159,10,0,845629668461,1,None,NaN,None,None,NaN,NaN
17,m,17:00:00.000000000,98159,11,0,845629667713,7,None,NaN,None,None,NaN,NaN
18,m,17:00:00.000000000,98159,12,0,845629668499,100,None,NaN,None,None,NaN,NaN
19,m,17:00:00.000000000,98159,13,0,845629663517,25,None,NaN,None,None,NaN,NaN
20,m,17:00:00.000000000,98159,14,0,845629664119,9,None,NaN,None,None,NaN,NaN
21,m,17:00:00.000000000,98159,15,0,845629666387,3,None,NaN,None,None,NaN,NaN
22,m,17:00:00.000000000,98159,16,0,845629666574,4,None,NaN,None,None,NaN,NaN
23,m,17:00:00.000000000,98159,17,0,845629667159,10,None,NaN,None,None,NaN,NaN
24,m,17:00:00.000000000,98159,18,0,845629667443,9,None,NaN,None,None,NaN,NaN
25,m,17:00:00.000000000,98159,19,0,845629668248,1,None,NaN,None,None,NaN,NaN
26,m,17:00:00.000000000,98159,20,0,845629668497,50,None,NaN,None,None,NaN,NaN
27,m,17:00:00.000000000,98159,21,0,845629144720,1,None,NaN,None,None,NaN,NaN
28,m,17:00:00.000000000,98159,22,0,845629664244,161,None,NaN,None,None,NaN,NaN
29,m,17:00:00.000000000,98159,23,0,845629668501,30,None,NaN,None,None,NaN,NaN